.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

header, h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

h1,h2{
    color: darkolivegreen;}
h2{
    text-align: center;
}